<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toggle chart example</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

    <link rel="stylesheet" href="togglechart.css" /> 
</head>
<body>
    <div ng-app="chartApp" ng-controller="ChartController">
        <button ng-click="showDonutPieChart()">Show Donut Pie Chart</button>
        <button ng-click="showColumnChart()">Show Column Chart</button>
        <div id="container"></div>
      </div>
      <script src="toggleCharts.js"></script>
</body>
</html>