<!DOCTYPE html>
<html  ng-app="myApp">

<head>
  
    <title>UI Grid Example</title>
    <link rel="stylesheet" href="main.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.11.1/ui-grid.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.11.1/ui-grid.min.js"></script>
</head>

<body ng-controller="MainCtrl">
    <div class="grid" ui-grid="gridOptions"></div>

    <script type="text/ng-template" id="customRowTemplate.html">
        <div ng-class="{'custom-row-highlight': row.entity.status==='active' }">
            <div ng-repeat ="col in colContainer.renderedColumns track by col.colDef.name"
            class="ui-grid-cell"
            ui-grid-cell>
        </div>
        <div class="ui-grid-cell custom-delete-cell">
            <button ng-click="grid.appScope.deleteRow(row.entity)">Delete</button>
          </div>
    </div>
    </script>
    <script type="text/ng-template" id="customCellTemplate.html">
      <div class="custom-cell-template">
        {{COL_FIELD | uppercase}}
    </script>

    <script src="index.js"></script>
</body>

</html>