<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Accessing $scope in AngularJS Templates</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">

  <h1>Welcome, {{ username }}</h1>

  <ul>
    <li ng-repeat="item in items">{{ item.name }}</li>
  </ul>

  <button ng-click="changeUsername()">Change Username</button>

  <script>
    var app = angular.module('app', []);

    app.controller('MainCtrl', ['$scope', function ($scope) {
      $scope.username = 'John';
      
      $scope.items = [
        { name: 'Item 1' },
        { name: 'Item 2' },
        { name: 'Item 3' }
      ];

      $scope.changeUsername = function() {
        $scope.username = 'Alice';
      };
    }]);
  </script>
</body>
</html>
