
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div ng-app="chartApp" ng-controller="ChartController">
        <button ng-click="showDonutPieChart()">Show Donut Pie Chart</button>
        <button ng-click="showColumnChart()">Show Column Chart</button>
        <div id="container"></div>
      </div>

      <script src="toggleChart.js"></script>
  </body>
  </html>
