<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="FormController">
    <form name="registrationForm" ng-submit="submitForm()" novalidate>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ng-model="formData.name" required>
        <span class="error" ng-show="registrationForm.name.$touched && registrationForm.name.$error.required">Name is required.</span>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ng-model="formData.email" required>
        <span class="error" ng-show="registrationForm.email.$touched && registrationForm.email.$error.required">Email is required.</span>
        <span class="error" ng-show="registrationForm.email.$touched && registrationForm.email.$error.email">Invalid email format.</span>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ng-model="formData.password" required ng-minlength="8">
        <span class="error" ng-show="registrationForm.password.$touched && registrationForm.password.$error.required">Password is required.</span>
        <span class="error" ng-show="registrationForm.password.$error.minlength">Password must be contains atleast 8 letters</span>
        <button type="submit" ng-disabled="registrationForm.$invalid">Register</button>
    </form>
    
    <script src="app.js"></script>
</body>
</html>
